<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <meta charset="utf-8" />
    <title>Todo Angular</title>

    <script src="vendor/js/angular.js"></script>
    <script src="scripts/all.js"></script>
    <!--<link rel="stylesheet" href="vendor/css/bootstrap.css" />-->
    <link rel="stylesheet" href="todo.css" />
</head>

<body>

    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
        <span>{{ todoList.remaining() }} of {{ todoList.todos.length }} remaining</span>
        [ <a href="" ng-click="todoList.archive()">archive</a> ]
        <ul>
            <li ng-repeat="todo in todoList.todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{ todo.done }}">{{ todo.text }}</span>
            </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.todoText" size="30"
                   placeholder="Add new todo here" />
            <button type="submit">Add</button>
        </form>
    </div>

</body>

</html>
